<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.knox.aurora.mapper.BmsColumnMapper">
    <select id="selectPageVo" resultType="com.knox.aurora.model.vo.BmsColumnVO">
        SELECT s.*,
               COUNT(t.id) AS topics
        FROM bms_section s
                 LEFT JOIN bms_post t ON s.id = t.section_id
        GROUP BY s.title
    </select>
</mapper>
