<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.knox.aurora.mapper.BmsTipMapper">
    <select id="getRandomTip" resultType="com.knox.aurora.model.entity.BmsTip">
        select *
        from bms_tip
        where type = #{type}
        order by rand()
        limit 1
    </select>
</mapper>
