<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wcy.rhapsody.admin.mapper.api.TopicMapper">
    <select id="selectListAndPage" resultType="com.wcy.rhapsody.admin.modules.vo.TopicVO">
        SELECT
        t.id,t.title,t.user_id,t.comments,
        t.view,t.collects,t.top,t.essence,
        t.create_time ,t.modify_time ,
        u.username,u.alias, u.avatar
        FROM topic t
        LEFT JOIN user u
        ON t.user_id = u.id
        <where>
            <if test="tab == 'essence'">
                t.essence = true
            </if>
            <if test="tab == 'noanswer'">
                t.comments = 0
            </if>
            <if test="tab == 'hot'">
                date(t.create_time) &lt;= date_add(curdate(), interval 1 day)
                and date(t.create_time) &gt;= date_sub(curdate(), interval 7 day)
            </if>
            <if test="tab == 'top'">
                t.top = true
            </if>
        </where>
        <if test="tab != 'hot'">
            order by t.top desc, t.create_time desc
        </if>
        <if test="tab == 'hot'">
            order by t.view desc, t.create_time desc
        </if>
    </select>
    <select id="selectTopicsByCategory" resultType="com.wcy.rhapsody.admin.modules.vo.TopicVO">
        SELECT t.id,
               t.title,
               t.user_id,
               t.comments,
               t.view,
               t.collects,
               t.top,
               t.essence,
               t.create_time,
               t.modify_time,
               u.username,
               u.alias,
               u.avatar
        FROM topic t
                 LEFT JOIN user u
                           ON t.user_id = u.id
        WHERE t.category_id = #{id}
        order by t.view desc, t.create_time desc
    </select>
</mapper>