<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyc.amor.mapper.UmsPermissionMapper">
    <!--用户权限列表-->
    <select id="selectList" resultType="com.wyc.amor.model.entity.UmsPermission">
        SELECT p.*
        FROM ums_user u,
             ums_role_permission rp,
             ums_permission p
        WHERE u.id = #{userId}
          AND u.role_id = rp.role_id
          AND rp.permission_id = p.id
    </select>
</mapper>
